@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="login">

    <div class="signin">
        <div class="signin-box">
            <h2>Sign in</h2>

            <form>
                <fieldset>
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username">
                    <label for="passwd">Password</label>
                    <input type="password" name="passwd" id="passwd">

                    <input type="submit" class="btn btn-primary" value="Sign in">
                    <label class="remember">
                        <input type="checkbox" name="rememberMe" value="yes">
                        <strong class="remember-label">Stay signed in</strong>
                    </label>
                </fieldset>
            </form>

            <ul>
                <li>
                    <a id="link-forgot-pwd" href="#">Can't access your account?</a>
                </li>
            </ul>
        </div>
    </div>

</div>