@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}
@section css{
    @RenderSection("css", required: false)
}

<div class="ui fixed inverted menu teal">
    <div class="ui container">
        <a href="#" class="header item">
            <img class="logo" src="~/images/logo.png">
            Project Name
        </a>
    </div>
    <div class="right menu">
        <a class="item" href="./index.html"><i class="home icon"></i>首页</a>
        <a class="active item" href="./devices_list.html"><i class="privacy icon"></i>修改密码</a>
        <a class="item" href="#"><i class="external icon"></i>退出</a>
    </div>

</div>

<div class="ui three column grid ">
    <!--left-->
    <div class="four wide column ">

        <div class="ui styled accordion">
            <div class="title ">
                <i class="dropdown icon"></i>
                博客管理
            </div>
            <div class="content">
                <div class="ui vertical pointing menu fluid">
                    <a class=" item" href="#">
                        <i class="add icon"></i> 博客
                    </a>
                    <a class="item  active teal" href="#">
                        <i class="settings icon"></i> 评论
                    </a>
                    <a class="item" href="#">
                        <i class="terminal icon"></i> 管理分类
                    </a>
                </div>          
            </div>  
            
            <div class="title ">
                <i class="dropdown icon"></i>
              控制台
            </div>
            <div class="content">
                <div class="ui vertical pointing menu fluid">
                    <a class=" item" href="#">
                        <i class="add icon"></i> 统计信息
                    </a>
                    <a class="item  active teal" href="#">
                        <i class="settings icon"></i> 我的设备
                    </a>
                    <a class="item" href="#">
                        <i class="terminal icon"></i> 设备动作
                    </a>
                </div>
            </div>          
        </div>
    </div>

    <!--right-->
    <div class="eight wide column">eight wide column</div>
</div>
@RenderBody()

@section scripts{
    @RenderSection("scripts", required: false)
}
